---
- name: Set Apache variables
  set_fact:
    apache_image: "{{ apache.image }}"
    apache_container_name: "{{ apache.container_name }}"
    apache_ports: "{{ apache.ports }}"
    apache_restart: "{{ apache.restart }}"

- name: Pull Apache Docker image
  community.docker.docker_image:
    name: "{{ apache_image }}"
    source: pull
    docker_host: "unix:///var/run/docker.sock"
    api_version: auto
  become: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3


- name: Ensure Apache container is running
  community.docker.docker_container:
    name: "{{ apache_container_name }}"
    image: "{{ apache_image }}"
    restart_policy: "{{ apache_restart }}"
    ports: "{{ apache_ports }}"
    state: started
    recreate: true
    docker_host: "unix:///var/run/docker.sock"
    api_version: auto
  become: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3
