---
- name: Ensure /etc/motd has Ansible managed message
  template:
    src: motd.j2
    dest: /etc/motd
    owner: root
    group: root
    mode: '0644'
  vars:
    motd_username: "{{ username }}"
  become: yes
