---
- name: Install Docker SDK and Python dependencies on Debian/Ubuntu
  apt:
    name:
      - python3
      - python3-pip
      - python3-setuptools
      - python3-docker
      - curl
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"
  become: yes

- name: Install EPEL on CentOS
  yum:
    name: epel-release
    state: present
  when: ansible_os_family == "RedHat"
  become: yes

- name: Install Python Docker SDK and dependencies on CentOS
  yum:
    name:
      - python3
      - python3-pip
      - python3-setuptools
      - python3-docker
      - curl
    state: present
  when: ansible_os_family == "RedHat"
  become: yes

- name: Install Docker if not present
  raw: |
    if ! command -v docker >/dev/null 2>&1; then
      curl -fsSL https://get.docker.com | sh
    fi
  args:
    warn: false
  become: yes

- name: Ensure Docker service is started and enabled
  service:
    name: docker
    state: started
    enabled: yes
  become: yes
